<!DOCTYPE html>
<html lang="en" xmlns="https://thymeleaf.org">
<head> 
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Good Morning</h1>

<h3>Nice To Meet You</h3>

<h3>Hobby is get good people.</h3>

<h4>Welcome will to our good</h4>

<h4>World Population will to our good</h4>




<!-- new project
 git config --global user.name "
 git config --global user.email "
 git init
 git add .
 git status
 git commit -m "First commit"
 git remote add origin https://github.com/AhsanZeya/Test.git
 git push -u origin master




update  :

 git status
 git add new.html
 git status
 git commit -m "added second some changes"
 git push origin master --force -->



</body>
</html>